body {
    background-color: #363636;
}

nav {
    background-color: #363636;
}

.col-md-12{
    padding-left: 0;
    padding-right: 0;
}

.nav-link {
    font-size: x-large;
    font-family: 'raleway';
    font-weight: bold;
    color: white;
}

.navbar-brand
{
    font-family: 'raleway';
    font-weight: bold;
    font-size: xxx-large;
    color: white;
    padding-left: 50px;
}
.navbar-brand:hover {
    text-decoration: none; 
    color: white;        
    background-color: transparent; 
  }

  .hero-img {
    border-radius: 50%;
    height: 52px;
  }

  .img-text {
    position: absolute;  
    top: 10%;           
    left: 2%;          
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;        
    font-size: 20px;    
    font-weight: bold;   
    padding: 5px 10px;    
    border-radius: 5px;   
    max-width: 45%; 
    word-wrap: break-word; 
    overflow: hidden;
  }

  .img-text > p {
    font-family: 'open sans';
  }

  .input-group {
    padding-bottom: 10px;
  }