* {
  color: white;
}



body {
    background-color: #363636;
}

nav {
    background-color: #363636;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

h1 {
  color: white;
}

.col-md-12{
    padding-left: 0;
    padding-right: 0;
}

.nav-link {
    font-size: x-large;
    font-family: 'raleway';
    font-weight: bold;
    color: white;
}

.navbar-brand
{
    font-family: 'raleway';
    font-weight: bold;
    font-size: xxx-large;
    color: white;
    padding-left: 50px;
}
.navbar-brand:hover {
    text-decoration: none; 
    color: white;        
    background-color: transparent; 
  }

  .hero-img {
    border-radius: 50%;
    height: 52px;
  }

@media (max-width: 425px){
  
.width-change {
  max-width: 90% !important;
}

}

  .img-text {
    position: absolute;  
    top: 10%;           
    left: 2%;          
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;        
    font-size: 20px;    
    font-weight: bold;   
    padding: 5px 10px;    
    border-radius: 5px;   
    max-width: 45%; 
    word-wrap: break-word; 
    overflow: hidden;
  }

  .about-text {
    position: absolute;  
    top: 10%;           
    left: 2%;          
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;        
    font-size: 20px;    
    font-weight: bold;   
    padding: 5px 10px;    
    border-radius: 5px;   
    max-width: 45%;
    word-wrap: break-word; 
    overflow: hidden;
  }

  .text-long {
    display: block; 
}


@media (max-width: 768px) {
    .text-long {
        display: none; 
    }

    .text-short {
        display: block; 
        font-size: 16px;
    }

}

  .about-text > p {
    font-family: 'open sans';
  }
  
  .img-text > p {
    font-family: 'open sans';
  }

  .input-group {
    padding-bottom: 10px;
  }

  .btn-danger {
    font-family: 'raleway';
  }

  .card-body > p, strong {
    color: black  !important;
  }

  #id_checkin_date_year {
    color: black !important ;
}

#id_checkin_date_month {
  color: black !important ;
}

#id_checkin_date_day {
  color: black !important ;
}

#id_checkout_date_year {
    color: black !important;
}

#id_checkout_date_month {
  color: black !important;
}

#id_checkout_date_day {
  color: black !important;
}

#id_guests {
    color: black !important;
}

select {
  color: black !important;
}


select option {
  color: black !important;
}

#id_username {
  color: black !important;
}

#id_password {
  color: black !important;
}